
.raleway-sans-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* shared item  */

.btn-text{
    color: #FFFFFF;
    font-size: 10px;
    font-weight: bold; 
}

/* header class suru */
.logo-text{
   color: #4E47FF;
   font-weight: bold; 
   font-size: 25px;
}

.top-header{
    
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
}
.signup-btn{
    background-color: #4E47FF;
    border:none;
    border-radius: 10px;
      
     
     height: 35px;
     width: 110px;
     /* padding: 18px 35px;  */


}
.secondary-bg{
    background-image: url('../images/Hero-bg.png');
    background-repeat: no-repeat;
    height: 550px;
    background-size: cover;
}
.top-middle{
    text-align: center;
    margin-top: 130px;
}
.Cool-dark{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
}
.focus-btn{
    background-color: #4E47FF;
    border:none;
    border-radius: 10px;
    height: 35px;
    width: 110px;
}